# IDEs
.idea/
*.iml
*.vscode/

# Python cache
__pycache__/
*.py[cod]

# Java/Scala build
target/
out/

# Logs
*.log
logs/

# Checkpoints & savepoints
flink-checkpoints/
savepoints/
**/checkpoint-dir/
**/savepoint-dir/

# Docker
*.pid
*.swp
docker-compose.override.yml

# Flink local files
tmp/
.opt/
.flink/

# Iceberg metadata
iceberg_warehouse/**/.metadata/
iceberg_warehouse/metadata/
iceberg_warehouse/*.tmp
iceberg_warehouse/**/metadata/

# SQL output
*.class
*.sql.log

# Misc
*.jar
*.war
*.zip
*.tar.gz
*.DS_Store
*.bak
*.tmp
.env

iceberg_warehouse/
flink-checkpoints/
flink-config/
jars/
.bsp/
