# === sbt & Scala ===
target/
project/target/
project/project/

# === IntelliJ IDEA ===
.idea/
*.iml
*.ipr
*.iws
out/

# === Mac system files ===
.DS_Store

# === Logs ===
*.log

# === VS Code ===
.vscode/

# === Docker volumes and state ===
*.pid
*.pid.lock
docker-compose.override.yml

# === JARs ===
*.jar
.bsp
